Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  modernize-*,
  readability-*,
  performance-*,
  bugprone-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-const-return-type,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -readability-implicit-bool-conversion,
  -readability-function-cognitive-complexity,
  -modernize-avoid-c-arrays,
  -bugprone-easily-swappable-parameters,
  -modernize-use-equals-default
HeaderFilterRegex: '.*(src|test|demo)/.*\.(h|cc)$'
